/* styles.css */
.toast {
    width: 310px;
    display: flex;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

.toast {
    font-size: 13px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 6px;
    padding: 16px 12px;
}

/*.toast--default {*/
/*    background-color: #FFFFFF;*/
/*    color: #171717;*/
/*    border-color: #EDEDED;*/
/*}*/

/*.toast--success {*/
/*    background-color: #ECFDF3;*/
/*    color: #008A2E;*/
/*    border-color: #D3FDE5;*/
/*}*/

/*.toast--error {*/
/*    background-color: #FFF0F0;*/
/*    color: #E60000;*/
/*    border-color: #FFE0E1;*/
/*}*/

/*.toast--info {*/
/*    background-color: #F0F8FF;*/
/*    color: #0973DC;*/
/*    border-color: #D3E0FD;*/
/*}*/

/*.toast--warning {*/
/*    background-color: #FFFCF0;*/
/*    color: #DC7609;*/
/*    border-color: #FDF5D3;*/
/*}*/

.toast-icon {
    font-size: 14px;
    margin-right: 8px;
}

@keyframes slideInRight {
    from {
        right: -300px;
        opacity: 0;
    }
    to {
        right: 14px;
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 14px;
        opacity: 1;
    }
}

@keyframes slideInTop {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 14px;
        opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 14px;
        opacity: 1;
    }
}